.vertical-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border-block: 1px solid black;
    padding-block: .5rem;
    box-sizing: border-box;

    & > label {
        min-width: fit-content;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    & input {
        flex-grow: 1;
    }
}

@media screen and (min-width: 1050px) {
    .vertical-bar {
        flex-direction: row;
    }
}
