.card {
    /* width: fit-content; */
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;

    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    min-height: 50px;
    max-height: 100%;
    min-width: 50px;
    max-width: 100%;
}

.card.card-present {
    border-style: dashed;
    /* height: fit-content; */
}

.card.card.card-highlight-candidate img {
    /* border-color: orange;*/
    /* border-style: solid;*/
    /* border-width: 2px; */

    box-shadow: rgba(228, 23, 23, 0.8) 0px 3px 8px;
}

.card.card-highlight-selection {
    border-color: red;
    border-style: solid;
    border-width: 5px;
}

.card:not(.card-present) {
    border-style: solid;
}