.playback-controls-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.playback-controls-bar button {
    width: 4rem;
    height: 4rem;

    background-color: white;
    border-radius: 8px;
    border: 1px solid black;

    box-shadow: 4px 6px 3px -4px rgba(0, 0, 0, 0.58);

    object-fit: contain;
}

.playback-controls-bar button:active:not(:disabled) {
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.8), 0px 1px 0px 0px rgba(25, 28, 33, 0.956), 0px 0px 0px 1px rgba(25, 28, 33, 0.6), inset 0.3em 0.3em 0.6em rgba(25, 28, 33, 0.1);

    transform: translate(2px, 2px);
}

.playback-controls-bar button:disabled {
    background-color: lightgray;
}