:is(input[type="text"], input[type="password"], input[type="number"]) {
    & {
        background: #e7e7e7;
        border: 3px solid transparent;
        border-radius: var(--border-radius);

        padding: calc(0.5rem - 3px) 0.5rem;

        cursor: text;
    }

    &:focus {
        outline: none;
        border-color: var(--primary);
    }

    &:invalid {
        border-color: red;
    }

    &:disabled {
        background: #f0f0f0;
        color: #a0a0a0;
        cursor: not-allowed;
    }
}

input[type="number"] {
    appearance: textfield;
}
