header {
  box-sizing: border-box;
  padding-inline: 2rem;
  padding-block: 1rem;

  display: flex;
  align-items: center;
  justify-content: start;

  background-color: gray;
}

header > span {
  font-size: 2rem;
  text-align: center;

  font-weight: bold;

  color: white
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  padding-inline: 2rem;
  box-sizing: border-box;

  flex-grow: 2;

  display: flex;
  flex-direction: column;

  max-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
