.card {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: none;
    box-sizing: border-box;
}

.card img {
    min-height: 4rem;
    max-height: 100%;
    min-width: 5rem;
    max-width: 100%;
}

.card.card-highlight-selection img {
    border: 2px rgba(245, 167, 72, 1) solid;
    border-radius: 4px;
}

.card.card-highlight-swap-candidate img {
    border: 2px rgba(228, 23, 23, 1) solid;
}
