name: Build application

on:
  pull_request:
    branches: [ "main" ]
  workflow_call:

env:
  NODE_VERSION: 20.x

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Build
      run: |
        npm install
        npm run build

    - name: Upload optimized build as artifact
      uses: actions/upload-pages-artifact@v3.0.1
      with:
        name: opt-build
        path: build/
